@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>
    @ViewData["message"]
     
</p>
@if(ViewData["colors"] != null)
{
    <ol>
        @foreach (string item in (IEnumerable<string>)ViewData["colors"])
        {
            <li>
                @item
            </li>
        }
    </ol>
}

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>
    @foreach (Employee emp in (IEnumerable<Employee>)ViewData["emplist"])
        {
            <tr> 
            <td>@emp.Id</td>
            <td>@emp.Name</td>
            <td>@emp.Salary</td>
        </tr>
        }
     
</table>